<h1>Blog Posts</h1>
<!-- Loop for all posts -->
<!-- No equal sign because I'm not outputting a variable-->
<% @posts.each do |post| %>
	<div class="well">
	<h3><%= post.title %></h3>
	<p><%= post.body %></p>
	<%= link_to "Read More", post_path(post), :class => 'btn btn-default' %>
</div>
<% end %>